<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3 text-center">
			<div class="quakeListContainer">
			<h2 class="quakeListTitleCon"> An Earthquake Just Hit, Now What? </h2>
			<hr>
			<% @postquakeseed_todos.each do |postquakeseedtodo| %>
        <p>
          <%= postquakeseedtodo.desc %>
        </p>
        
        <hr>
      <% end %>
			
			<% if current_user %> 
				<% @todos.each do |todos| %>
					<p>
						<%= todos.desc %>
					</p>
				
				<% end %>			
			<% else %> 
				<%= link_to "Login to Customize Your Post-Quake List", 'login' , class: 'btn btn-primary' %>
				<%= link_to "Signup to Aftershock to Customize Your Post-Quake List", 'signup', class: 'btn btn-primary' %>
			<% end %>	
		</div>
	</div>
</div>