<div class="jumbotron">
  <div class="container">
    <h1 class="text-center animated infinite shake"> AFTERSHOCK </h1>
  </div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3 text-center">
			<hr>
			<h3> When The Earth is Pissed, What Will You Do? </h3>
			<hr>
			<%= link_to "Pre-Quake Checklist", prequake_index_path, class: "btn btn-primary" %>
			<hr>
			<%= link_to "Post-Quake Checklist", prequake_index_path, class: "btn btn-danger" %>
			<hr>
			<%= link_to "Get Help", prequake_index_path, class: "btn btn-success" %>
		</div>
	</div>
</div>


